{% load nvd3_tags %}
<head>
	{% include_chart_jscss %}
    {% load_chart charttype chartdata "linewithfocuschart_container" extra %}
    <!-- <link href="style.css" rel="stylesheet" type="text/css" /> -->
</head>
<body>

<div class="layoutholder" style="margin-left: auto;
	margin-right: auto; 
	width:1200px; height:1200px;">

<div class="header_div" style = "width:100%; height:5%; padding-top:5px;">
	<center><h1>What Is My dB?</h1></center>
</div>

<div class="viz_div" style="width:100%; height:45%; float:center;">
	<center>{% include_container chartcontainer '90%' '95%' %}</center>
</div>

<div id="table_div" style="width:50%; float:left; height:45%;">
	<center>
	{% if date_time %}
		<table border="1">
			<tr>
				<th>Time</th>
				<th>Value (db)</th>
			</tr>
			{% for objects in date_time  %}
				<tr>
				<td>{{ objects.timestamp }}</td>
				<td>{{ objects.value }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>There is no data to display, sorry.</p>
	{% endif %}
	</center>
</div>

<div id="form_div" style="width:50%; float:left; height:45%;">
	<div id="form">
	<form action="{% url 'whatismydb:home' %}" method="get">
	<center>
	<fieldset style="display:inline-block;">

	<legend>Get Data</legend>
	
	{% csrf_token %}

	<label><b>Start Date/Time</b></label><br />
	<input type="text" name="start_time" value="{{ earliest }}"><br /><br />

	<label><b>End Date/Time</b></label><br />
	<input type="text" name="end_time" value="{{ latest }}"><br /><br />
	
	<label><b>Update Rate</b></label><br />
	{% for choice in choices %}

		<input type="radio" name="time_intervals" id="choice{{ forloop.counter }}" value="{{ choice }}">
		<label for="choice{{ forloop.counter }}">{{ choice }}</label><br />

	{% endfor %}
	<br />

	<input type="submit" value="Update Viz" />

	</fieldset>
	</center>
	</form>
	</div>
	</center>
</div>

</div>

</body>