{% load nvd3_tags %}
<head>
	{% include_chart_jscss %}
    {% load_chart charttype chartdata chartcontainer extra %}
</head>
<body>
<div id="container">

<div id="viz_div" style="position:fixed; top:20px; left:10px">
	<h1>What Is My dB?</h1>
	{% include_container chartcontainer 400 450 %}
</div>

<div id="table_div" style="height:100px; overflow=auto; position:absolute; top:500px;">
	{% if date_time %}
		<table border="1">
			<tr>
				<th>Time</th>
				<th>Value (db)</th>
			</tr>
			{% for objects in date_time  %}
				<tr>
				<td>{{ objects.timestamp }}</td>
				<td>{{ objects.value }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>There is no data to display, sorry.</p>
	{% endif %}
</div>

<div id="form_div" style="position:absolute; top:45px; right:10px">
	<form action="{% url 'whatismydb:home' %}" method="get">
	<fieldset>

	<legend>Get Data</legend>
	
	{% csrf_token %}

	<label><b>Start Date/Time</b></label><br />
	<input type="text" name="start_time" value="{{ earliest }}"><br /><br />

	<label><b>End Date/Time</b></label><br />
	<input type="text" name="end_time" value="{{ latest }}"><br /><br />
	
	<label><b>Update Rate</b></label><br />
	{% for choice in choices %}

		<input type="radio" name="time_intervals" id="choice{{ forloop.counter }}" value="{{ choice }}">
		<label for="choice{{ forloop.counter }}">{{ choice }}</label><br />

	{% endfor %}
	<br />

	<input type="submit" value="Update Viz" />

	</fieldset>
	</form>
</div>

</div>
</body>